.calculator {
  max-width: 300px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f7f7f7;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.calculator input {
  text-align: right;
}

.calculator .row {
  margin-bottom: 10px;
}

.calculator button {
  height: 50px;
  font-size: 18px;
}

.equal-button {
  height: 100%;
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  max-width: 400px;
}