@import '~bootstrap/dist/css/bootstrap.min.css';

:root {
  --calculatorBackground: #f7f7f7;
  --backdrop: #feece2;
  --highlight: #ffb285;
}

.calculator {
  max-width: 280px;
  margin: 0 auto;
  padding: 20px;
  background-color: var(--calculatorBackground);
  border: #af8a75 2px solid;
  border-radius: 25px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.calculator input {
  text-align: right;
}

.calculator .row {
  margin-bottom: 10px;
}

.calculator button {
  height: 50px;
  font-size: 18px;
}

.equals-button {
  background-color: var(--backdrop) !important;
}

.custom-input:not(.form),
.custom-button:not(.equals-button) {
  background-color: var(--calculatorBackground) !important;
  border: none;
}

.square-button {
  width: 100%;
  height: 0;
  padding-top: 100%;
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: var(--backdrop);
}

.container {
  max-width: 400px;
}

.backspace, .form-display, .equals-button {
  color: var(--highlight) !important;
}

.form{
  background: linear-gradient(to right, #fad2ac, var(--highlight)) !important;  
  font-size: 25px !important;
  padding: 20px !important;
  line-height: 1.5;  
  width: 240px !important;
  margin: auto; 
  color: var(--backdrop) !important;
  border: none !important;
}
.box-shadow{  
  background-color: var(--highlight);
  height: 6px;
  border-radius: 0px 0px 25px 25px;
  margin: auto;
}
.box-shadow:first-of-type{
  width: 220px !important;
  opacity: 0.7;
  filter: blur(2px);
}
.box-shadow:last-of-type {
  width: 200px !important;
  opacity: 0.3;
  filter: blur(2px)
}

footer p{
  margin: auto;
  color: #af8a75;
  justify-content: center;
  text-align: center;
  display: flex;
  margin-top: 15px;
}